
@import "variables";
@import "header";
@import "footer";
@import "rwd";

$main-color : #315397;
$secondary-color : #282931;
$white-color : #FFFFFF;

.bg-main-color {
    background-color: $main-color;
}

.perso-button-light {
    background-color: $white-color;
    color: $main-color;
    font-weight: bold;
}

.perso-button-main {
    background-color: $main-color;
    color : $white-color;
    font-weight: bold;
}