{% extends 'baseDashboard.html.twig' %}

{% block title %}Créer session{% endblock %}

{% block body %}
    <h1>Créer session</h1>

    <div>
    {{ include('session/_form.html.twig') }}

    <a class="btn perso-button-main mt-4" href="{{ path('app_session_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
