<form method="post" action="{{ path('app_ticket_angel', {'id': ticket.id}) }}" onsubmit="return confirm('Are you sure you want to help this person?');">
    <input type="hidden" name="_token" value="{{ csrf_token('angel' ~ ticket.id) }}">
    <button class="btn btn-success">Aidez mon camarade</button>
</form>
