{% extends 'baseDashboard.html.twig' %}

{% block title %}New Ticket{% endblock %}

{% block body %}

<div class="card bg-main-color text-white w-75 mx-auto mt-5 p-5 rounded-4">
    <h1 class="text-center">Nouveau Ticket</h1>

    {{ include('ticket/_form.html.twig') }}

</div>

{% endblock %}
